@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400&family=Roboto+Slab:wght@700&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins",sans-serif;

}

body{
    overflow: hidden;
}

.background{
    background: linear-gradient(rgba(0,0,0,0.5)),(rgba(0,0,0,0.5));
    background-image: url(./tecnologia.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    
}

header{
    display:flex;
    justify-content: space-around; /* pra dar espaçamento */
    max-width: 100%; /* ajuda no reponsivo do site  */
    align-items: center;/* centralizar todos os itens */
    text-align: center;/* */
    padding-top: 1rem; /* dar uma afastada do top de 1 rem */
    background: rgba(0, 0, 0, 0.555);
    border: solid 1px #2ecc7033;
    border-radius: 15px;
    position: relative;
    top: 13px;
    height: 60px;
}

.cabeçalho-link{
    display: flex; /* os links fica do lado do outro*/
    gap: 3rem; /* dar um afastamento entre eles */
    font-weight: 300;
    cursor: pointer;
    position: relative;
    

}
.cabeçalho-link a{
    color: #fff;
    font-size: 15px;
    position: relative;
    top: -4px;
    padding: 0px;
    

}

.cabeçalho-link a:hover{ /* botão acende  */
    color: #2ecc71;
    transition: 0.3s;

}

.logo i{
    height: 40px;
    width: 40px;
    background: transparent;
    border: 2px solid #2ecc71;
    color: #2ecc71;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    cursor: pointer;
    position: relative;
    top: -8px;
    
  
  
    
}

.meu-contato{ /* Meu contato */

    color: #2ecc71;
    background: transparent;
    border: solid 1px #2ecc71; /* borda dele */
    padding: 5px; /* dar um afastamento da margem */
    border-radius: 15px; /* arrendodar as bordas*/
    font-size: 12px;/* diminuir o tamanho */
    width: 150px; /* aumentar a largura dele */
    position: relative;
    top: -5px;


}

button:hover{
    background-color: #2ecc71;
    color: #fff;
    transition: 0.5s;
}

.container-text{
    padding: 150px 0 0 130px;

}

.text{
    font-size: 27px;
    position: relative;
    -webkit-text-stroke-width: 1px; /* largura da borda */
    -webkit-text-stroke-color: #000; /* cor da borda */
     text-shadow:  #000 3px 3px 2px;
}
.text h3{
    color: white;
    font-size: 26px;
    position: relative;
    

}

.text h1{
    color: white;
    margin-top: 10px;
    position: relative;
    

}
.text span{
    color: #2ecc71;
    position: relative;
}

.text p{
    color: rgb(255, 255, 255);
    font-size: 17px; /*tamanho dele */
    font-weight: 500;/* grosura da fonte */
    -webkit-text-stroke-width: 0.9px; /* largura da borda */
    -webkit-text-stroke-color: #000; /* cor da borda */
    margin-right: 0.4px;
    text-shadow:  #000 -2px 3px 2px;
}

.redes-sociais a{
    color: #2ecc71;
    padding: 10px;
    margin-top: 5px;
    position: relative;
    
}
.btn{
    margin-top: 10px;
    color: #2ecc71;
    background: transparent;
    border: solid 1px #2ecc71; /* borda dele */
    padding: 5px; /* dar um afastamento da margem */
    border-radius: 15px; /* arrendodar as bordas*/
    font-size: 15px;/* diminuir o tamanho */
    width: 150px; /* aumentar a largura dele */
    position: relative;
    top: -5px;
}
.menu-bar{
    position:absolute; 
    color: #2ecc71;
    background: transparent;
    font-size: 48px;/* diminuir o tamanho */
    width: 0px; /* aumentar a largura dele */
    height: 0px;
    top: 1px;  
    border: none; 
    left: -13px; 
    cursor: pointer;
    display: none;


}
.front{
    position: relative;
    display: flex;
    color: #fff;
}
.end{
    color: #2ecc71;
}

.front-end{
    position: relative;
    left:70px;
    top: -13px;
    display: none;
    padding: 0x;
    font-size: 14px;
    align-items: center;
}




@media screen and (max-width :630px){
    .redes-sociais a{
        color:#2ecc71;}
    .meu-contato{
        display: none;}
    .logo i{
        display: none;}
    .cabeçalho-link a{
        display: none;
    }
    .container-text{
        margin-left: -100px;

    }
    .menu-bar{
        display: flex;
        margin: -13px
        
    }
    .front-end{
        display: flex;
    }
    .cabeçalho-link{
        
        position: relative;
       
        

    }
}
